body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#fondcal{
    background-color: black;
    border-radius: 1em;
    border-style: groove;
    border-color: aliceblue;
    margin: 10%;
    margin-left:38% ;
    margin-right: 38%;
   
}

#part1{
    display: flex;
    flex-direction:row;
    margin: 5%;
    margin-left: 22px;
}

.part2{
    display: flex;
    flex-direction:row;
    margin: 5%;
}

#recblanc{
    background-color: rgb(195, 216, 240);
    width:90%;
    height:36px ;
    border-radius: 5px;
}

#buttoncarréR{
    width:36px;
    height:36px ;
    color: aliceblue;
    background-color: dimgrey;
    border-style:initial;
    border-radius: 5px;
    margin-left: 2px;
}


.buttoncarré{
    width:36px;
    height:36px ;
    color: aliceblue;
    background-color:magenta;
    border-style:initial;
    border-radius: 5px;
    margin-left: 5px;
}

.button{
    width:36px;
    height:36px ;
    color: aliceblue;
    background-color:magenta;
    border-style:initial;
    border-radius: 5px;
    margin-left: 5px;
    width:30%;
}

#buttonR{
    width:36px;
    height:36px ;
    color: aliceblue;
    background-color: dimgrey;
    border-style:initial;
    border-radius: 5px;
    margin-left: 5px;
    width:30%;
}
